<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
		<security>
			<requestFiltering>
			  <requestLimits maxQueryString="32768"/>
			</requestFiltering>
		</security>			
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
	   <add name="Access-Control-Allow-Methods" value="GET, POST, PUT" />
     </customHeaders>
   </httpProtocol>
   <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
